{% load static %}
<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript" src="{% static 'scripts/charts.js' %}"></script>
  </head>

  <body>
  <div id="input-form-div">
    <form id="input-form-2" action="javascript:" onsubmit="return handleForm(this);">
		<label for="procName">Имя процесса: </label><input type="text" id="procName" name="procName"/><br>
		<label for="dateBegin">Время начала: </label><input type="datetime-local" id="dateBegin" name="dateBegin"/><br>
		<label for="dateEnd">Время конца: </label><input type="datetime-local" id="dateEnd" name="dateEnd"/><br>
		<label for="samplingPoints">Количество точек: </label><input type="text" id="samplingPoints" name="samplingPoints"/><br>
		<input type="submit"/>
	</form>
		
	</div>
    <div id="chart_div"></div>
  </body>
</html>