<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      //google.charts.setOnLoadCallback(drawChart);

      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
      function drawChart(rows) {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('date', 'Дата и время');
        data.addColumn('number', 'Время (мс)');
		data.addRows(rows);
        /*data.addRows([
          [new Date(2022,9,27,1,12,34,534), 6],
          [new Date(2022,9,27,1,12,44,534), 8],
          [new Date(2022,9,27,1,12,52,752), 15],
          [new Date(2022,9,27,1,13,15,642), 26],
          [new Date(2022,9,27,1,14,34,534), 3],
        ]);*/

        // Set chart options
        var options = {'title':'Время процессора',
                       'width':1000,
                       'height':800};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
	  
	  function dateToPython(d)
	  {
		return d.toISOString();
	  }
	 
	  async function handleForm(e)
	  {
		let form = document.getElementById("input-form-2");
		let data = new FormData(form);
		
		let procName = data.get("procName");
		let dateBegin = new Date(data.get("dateBegin"));
		let dateEnd = new Date(data.get("dateEnd"));
		let samplingPoints = parseInt(data.get("samplingPoints"));
		
		let datePoints = [];
		let dt = dateEnd - dateBegin;
		let step = dt/(samplingPoints+1);
		for (let i = 0; i < samplingPoints; ++i)
		{
			datePoints.push(new Date(dateEnd-i*step));
		}
		datePoints.push(dateBegin); //this now has all points in reverse-date order (youngest first)
		
		let responses = []
		let requestPath = "/records/filter";
		let requestBody = {
			imageNameExact: procName,
			timestampRange: [],
		}
		
		let chartData = [];
		for (let i = datePoints.length-2; i >= 0; --i)
		{			
			requestBody.timestampRange = [ datePoints[i+1], datePoints[i] ];
			let appendix = '?' + 'imageNameExact=' + procName + '&timestampRange=' + dateToPython(datePoints[i+1]) + ','+ dateToPython(datePoints[i]);
			let processNs = 0;
			fetch(requestPath+appendix, {
				method: "GET", 
				/*params: {
					'imageNameExact': procName,
					'timestampRange': JSON.stringify(requestBody.timestampRange),
				}*/
				}).then(
					async function(response){
						json = await response.json();
						
						for (i in json)
						{
							processNs += json[i].cpuTimeNs;
							//console.log(json[i]);
						}						
			});
			
			let obj = [ datePoints[i], processNs ] //date and response
			chartData.push(obj);
		}
		
		drawChart(chartData);
	  }
    </script>
  </head>

  <body>
  <div id="input-form-div">
    <form id="input-form-2" action="javascript:" onsubmit="return handleForm(this);">
		<label for="procName">Имя процесса: </label><input type="text" id="procName" name="procName"/><br>
		<label for="dateBegin">Время начала: </label><input type="datetime-local" id="dateBegin" name="dateBegin"/><br>
		<label for="dateEnd">Время конца: </label><input type="datetime-local" id="dateEnd" name="dateEnd"/><br>
		<label for="samplingPoints">Количество точек: </label><input type="text" id="samplingPoints" name="samplingPoints"/><br>
		<input type="submit"/>
	</form>
		
	</div>
    <div id="chart_div"></div>
  </body>
</html>